In [1]:
import numpy as np
import pandas as pd

In [53]:
fbi = pd.read_excel('Downloads/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')

In [82]:
# info about data
fbi.iloc[0:3, 0]

0                             NEW YORK
1    Offenses Known to Law Enforcement
2                        by City, 2013
Name: Table 8, dtype: object

In [54]:
# dropping first 3 rows
df = fbi.drop([0, 1, 2], axis=0)

In [55]:
# using row as column titles
df.rename(columns=df.iloc[0], inplace=True)

In [56]:
df = df.reindex(df.index.drop(3)).reset_index(drop=True)

In [57]:
df

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
1,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
2,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
3,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
4,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN
5,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN
6,Allegany Village,1781,3,0,NaN,0,0,3,10,0,10,0,0
7,Amherst Town,118296,107,1,NaN,7,31,68,2118,204,1882,32,3
8,Amityville Village,9519,9,0,NaN,2,4,3,210,16,188,6,1
9,Amsterdam,18182,30,0,NaN,0,12,18,405,99,291,15,0
10,Arcade Village,2053,0,0,NaN,0,0,0,39,3,35,1,0
11,Ardsley Village,4523,5,0,NaN,0,3,2,33,4,28,1,0
12,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
13,Attica Village,2522,2,0,NaN,0,0,2,5,0,4,1,0
14,Auburn,27270,96,1,NaN,20,22,53,859,132,721,6,NaN
15,Avon Village,3333,1,0,NaN,0,1,0,25,3,20,2,NaN
16,Baldwinsville Village,7473,5,0,NaN,0,1,4,88,10,77,1,0
17,Ballston Spa Village,5418,8,0,NaN,0,3,5,94,16,78,0,1
18,Batavia,15374,57,0,NaN,7,13,37,559,103,454,2,NaN
19,Bath Village,5733,15,0,NaN,1,3,11,191,32,157,2,2
20,Bedford Town,17627,5,0,NaN,0,1,4,156,26,127,3,NaN
21,Bethlehem Town,34243,13,0,NaN,0,3,10,442,50,388,4,NaN
22,Binghamton,46304,284,3,NaN,19,101,161,2349,525,1767,57,NaN
23,Black River,1410,0,0,NaN,0,0,0,14,2,12,0,0
24,Blooming Grove Town,12001,8,0,NaN,1,0,7,99,20,72,7,NaN
25,Bolivar Village,1022,1,0,NaN,0,0,1,4,2,2,0,0
26,Bolton Town,2325,2,0,NaN,0,0,2,24,4,20,0,0
27,Boonville Village,2054,1,0,NaN,0,0,1,20,6,14,0,0
28,Brant Town,2065,4,0,NaN,0,1,3,31,9,20,2,0
29,Brewster,2358,0,0,NaN,0,0,0,13,3,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,61686,361,7,NaN,27,102,225,2528,449,1997,82,NaN
322,Vestal Town,27980,16,0,NaN,2,6,8,571,39,523,9,NaN
323,Walden Village,6887,18,1,NaN,2,1,14,142,13,124,5,NaN
324,Wallkill Town,27940,40,0,NaN,3,16,21,767,91,650,26,1
325,Walton Village,3012,6,0,NaN,1,0,5,68,18,50,0,NaN
326,Warsaw Village,3453,6,0,NaN,1,0,5,78,5,73,0,0
327,Washingtonville Village,5828,2,0,NaN,0,1,1,58,5,51,2,0
328,Waterford Town and Village,8392,4,0,NaN,0,0,4,59,6,52,1,0
329,Waterloo Village,5175,11,0,NaN,0,3,8,194,23,169,2,NaN
330,Watertown,28179,109,0,NaN,12,16,81,1165,169,953,43,NaN
331,Watervliet,10245,26,1,NaN,3,11,11,242,58,163,21,NaN
332,Watkins Glen Village,1862,6,0,NaN,0,0,6,92,10,80,2,NaN
333,Waverly Village,4337,5,0,NaN,0,1,4,54,9,41,4,NaN
334,Webster Town and Village,43777,21,0,NaN,2,3,16,469,101,361,7,NaN
335,Weedsport Village,1797,0,0,NaN,0,0,0,25,5,20,0,0
336,Wellsville Village,4574,11,0,NaN,1,0,10,164,32,129,3,1
337,Westhampton Beach Village,1732,2,0,NaN,0,0,2,44,4,37,3,0
338,West Seneca Town,44821,35,1,NaN,1,9,24,896,166,710,20,0
339,Whitehall Village,2604,6,0,NaN,0,0,6,62,12,49,1,NaN
340,White Plains,57559,78,1,NaN,3,28,46,1232,77,1134,21,NaN
341,Whitesboro Village,3733,4,0,NaN,0,0,4,36,14,21,1,0
342,Whitestown Town,9141,0,0,NaN,0,0,0,77,13,61,3,0
343,Woodbury Town,10685,3,0,NaN,0,2,1,541,9,529,3,NaN
344,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0
345,Woodstock Town,5931,2,0,NaN,0,0,2,58,13,45,0,NaN
346,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10
347,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN
348,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# notes for columns (Rape and Arson)
note = df.iloc[348:, 0]

In [67]:
# dropping notes from df
df.drop([348, 349, 350], inplace=True)

In [69]:
df.iloc[:, 4].count()

0

In [73]:
# dropping 'revised Rape column', contains only NaN
df.drop('Rape\n(revised\ndefinition)1', axis=1, inplace=True)

In [86]:
df.rename(columns={'Violent\ncrime': 'violent_crime', 'Murder and\nnonnegligent\nmanslaughter':'murder', 'Rape\n(legacy\ndefinition)2':'rape', 'Aggravated\nassault': 'aggrvt_asslt', 'Property\ncrime':'property_crime', 'Larceny-\ntheft': 'larceny/theft', 'Motor\nvehicle\ntheft':'motor_veh_theft', 'Robbery': 'robbery', 'Arson3': 'arson', 'Burglary':'burglary'}, inplace=True)

In [90]:
df['feat_murder'] = df['murder'].apply(lambda x: 1 if x>0 else 0)

In [91]:
df['feat_robbery'] = df['robbery'].apply(lambda x: 1 if x>0 else 0 )

In [113]:
df['population_sqr'] = np.square(df['Population'])

In [95]:
# arson data not shown if full calendar year is not given
# assume 0
df.isnull().sum()

161

In [101]:
df['arson'] = df['arson'].fillna(0)

In [106]:
df.rename(index=df.iloc[:, 0], inplace=True)

In [109]:
df.drop('City', axis=1, inplace=True)

In [111]:
from sklearn.linear_model import LinearRegression

In [127]:
a = df[['Population', 'population_sqr', 'yes_murder', 'yes_robbery']]

In [128]:
b = df[['Population', 'population_sqr', 'yes_murder', 'yes_robbery']].values

In [115]:
regr = LinearRegression()

In [130]:
regr.fit(b, df.property_crime)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [131]:
regr.coef_

array([ 3.46570268e-02, -2.11108019e-09,  1.51866535e+01, -9.62774363e+01])

In [132]:
regr.intercept_

-109.57533562257424